<footer class="footer">
  <div class="footer-presentation">
    <p class="footer-heading">Author presentation</p>
    <p class="author-description">
      Hey! My name is Vinícius Eugênio, I am a 17 years old developer,
      passionate about web-development and a compassionate human being. If
      you would like to contact me, feel free.
    </p>
  </div>

  <div class="footer-socials">
    <p class="footer-heading">Social links</p>

    <ul class="social-links">
      <li>
        <a href="https://linkedin.com/in/eugencius" class="social-link" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>

      <li>
        <a href="mailto:viniciuseugeniovhe@gmail.com" class="social-link" target="_blank">
          <ion-icon name="mail-outline"></ion-icon>
        </a>
      </li>
    </ul>

  </div>
</footer>