{% extends "base.html" %}


{% block content %}

<div class="contacts">
  <div class="contacts-list">

    <div class="contact-card">
      {% if contact.image %}
        <img class="card-img margin-bottom-md" src="{{ contact.image.url }}" alt="Image of the contact">
      {% else %}
        <ion-icon class="person-icon margin-bottom-md" name="person-outline"></ion-icon>
      {% endif %}

      <p class="contact-name">
        Vinícius Eugênio
      </p>

      <p class="contact-p">
        (34) 99656-3226
      </p>

      <p class="contact-p">
        viniciuseugeniovhe@gmail.com
      </p>

      <p class="contact-p">
        Amigo
      </p>

    </div>


    <div class="contact-card">
      {% if contact.image %}
        <img class="card-img margin-bottom-md" src="{{ contact.image.url }}" alt="Image of the contact">
      {% else %}
        <ion-icon class="person-icon margin-bottom-md" name="person-outline"></ion-icon>
      {% endif %}

      <p class="contact-name">
        Vinícius Eugênio
      </p>

      <p class="contact-p">
        (34) 99656-3226
      </p>

      <p class="contact-p">
        viniciuseugeniovhe@gmail.com
      </p>

      <p class="contact-p">
        Amigo
      </p>

    </div>


    <div class="contact-card">
      {% if contact.image %}
        <img class="card-img margin-bottom-md" src="{{ contact.image.url }}" alt="Image of the contact">
      {% else %}
        <ion-icon class="person-icon margin-bottom-md" name="person-outline"></ion-icon>
      {% endif %}

      <p class="contact-name">
        Vinícius Eugênio
      </p>

      <p class="contact-p">
        (34) 99656-3226
      </p>

      <p class="contact-p">
        viniciuseugeniovhe@gmail.com
      </p>

      <p class="contact-p">
        Amigo
      </p>

    </div>


    <div class="contact-card">
      {% if contact.image %}
        <img class="card-img margin-bottom-md" src="{{ contact.image.url }}" alt="Image of the contact">
      {% else %}
        <ion-icon class="person-icon margin-bottom-md" name="person-outline"></ion-icon>
      {% endif %}

      <p class="contact-name">
        Vinícius Eugênio
      </p>

      <p class="contact-p">
        (34) 99656-3226
      </p>

      <p class="contact-p">
        viniciuseugeniovhe@gmail.com
      </p>

      <p class="contact-p">
        Amigo
      </p>

    </div>


    <div class="contact-card">
      {% if contact.image %}
        <img class="card-img margin-bottom-md" src="{{ contact.image.url }}" alt="Image of the contact">
      {% else %}
        <ion-icon class="person-icon margin-bottom-md" name="person-outline"></ion-icon>
      {% endif %}

      <p class="contact-name">
        Vinícius Eugênio
      </p>

      <p class="contact-p">
        (34) 99656-3226
      </p>

      <p class="contact-p">
        viniciuseugeniovhe@gmail.com
      </p>

      <p class="contact-p">
        Amigo
      </p>

    </div>


    <div class="contact-card">
      {% if contact.image %}
        <img class="card-img margin-bottom-md" src="{{ contact.image.url }}" alt="Image of the contact">
      {% else %}
        <ion-icon class="person-icon margin-bottom-md" name="person-outline"></ion-icon>
      {% endif %}

      <p class="contact-name">
        Vinícius Eugênio
      </p>

      <p class="contact-p">
        (34) 99656-3226
      </p>

      <p class="contact-p">
        viniciuseugeniovhe@gmail.com
      </p>

      <p class="contact-p">
        Amigo
      </p>

    </div>

  </div>
</div>

{% endblock content %}