/* ******************** */
/* Styles used 

01 - COLORS
  Primary: #254336
  Secondary: #6B8A7A
  Backgrounds: #B7B597 #DAD3BE

  Shades:
    #36453d
    #13221b

  Tints:
    #51695e
    #bec7c3
    #e9eceb
    #d3d9d7
    
02 - TYPOGRAPHY
  Line heights
    1.6 (Small paragraphs)

*/

/* ******************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'rubik', sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: #262626;
  position: relative;
  overflow-x: hidden;

}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 4.4rem;
}

.margin-vert {
  padding: 0 4rem;
}

.heading-secondary {
  font-size: 4rem;
}

.heading-tertiary {
  font-size: 3.2rem;
}

.btn {
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.link:link,
.link:visited {
  color: #254336;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #51695e;
}

.primary-text {
  color: #254336;
}

.margin-bottom-md {
  margin-bottom: 2.4rem;
}

.grid {
  display: grid;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.form-inline {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.btn-default {
  display: inline;
  border: none;
  background: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}